
<div class = "cotainer mt-5">
        <div class = "row">
          <div class = "mx-auto">

<h1>welcome to
<i class="fas fa-book"></i>
Bookers!!</h1>


<p>in
<i class="fas fa-book"></i>
bookers</p>

<p>you can share and exchange your opinions , inpressions , and emotions</P>
<p>about various books!</p>

<div>
<p><%= link_to 'Log in', user_session_path, class: "col-10 mx-auto btn btn-info" %></p>
<p><%= link_to 'Sign up', new_user_registration_path, class: "col-10 mx-auto btn btn-success" %></p>
 </div>         
 </div> 
 </div>
 </div>
 